.title{
	font-family:Dollhouse;
	font-size:32pt;
	color:#FFFFFF;	
	leading:-8pt;
	letter-spacing:0pt;
	text-align:center;
}
.continue_btn{
	font-family:Dollhouse;
	font-size:26pt;
	color:#3F70AA;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:center;
}
.help{
	font-family:Arial Unicode MS;
	font-size:14pt;
	color:#FFFFFF;	
	leading:-2pt;
	letter-spacing:0pt;
	text-align:left;
}
.begin_btn{
	font-family:Dollhouse;
	font-size:26pt;
	color:#FFFFFF;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:left;
}
.scoreboard_1{
	font-family:Dollhouse;
	font-size:20pt;
	color:#133774;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:center;
}
.scoreboard_2{
	font-family:Dollhouse;
	font-size:24pt;
	color:#CA4B6F;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:left;
}
.endscreen_1{
	font-family:Dollhouse;
	font-size:22pt;
	color:#77233D;	
	leading:-5pt;
	letter-spacing:0pt;
	text-align:center;
}
.endscreen_2{
	font-family:Dollhouse;
	font-size:20pt;
	color:#000000;	
	leading:-5pt;
	letter-spacing:0pt;
	text-align:left;
}
.score{
	font-family:Dollhouse;
	font-size:20pt;
	color:#000000;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:left;
}
.playagain_btn{
	font-family:Dollhouse;
	font-size:24pt;
	color:#3F70AA;	
	leading:0pt;
	letter-spacing:0pt;
	text-align:left;
}

