.suphead {
    text-align: center;
}

.header-container {
    background-image: url("/images/nav/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 123px;
    max-width: 1000px;
    height: 123px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}
@media (max-width: 900px) {
    .header-container {
        background-size: 800px 123px;
    }

    #logo {
        width: 200px !important;
        min-width: 70px !important;
        max-width: 150px !important;
        flex: 2;
    }
    #logo-img {
        width: 100%;
        height: auto;
        padding-top: 20px !important;
    }

    /* switch icons to a menu instead */
    .navMainIcon {
        display: none;
    }
    .dropMenu {
        /* position: relative; */
        display: inline-block !important;
    }
    .navContent {
        display: none !important;
        border-radius: 25px;
        position:relative;
        background-color: #f9f9f9;
        max-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin: auto;
        padding: 10px;
    }
    .navIconText {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
        color: black !important;
        display: block !important;
        padding: 10px;
    }
    .nav:hover .navContent {
        display: block !important;
        float: inherit;
    }
    
    .nav:hover .navIcon:hover {
        background-color: #AA90C080;
    }

    #login {
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
}

.header,
.navContent {
    display: flex;
    flex-wrap: wrap;
}

#logo {
  flex: 3;
  padding-top: 15px;
  max-width: 180px;
  min-width: 180px;
}

.dropMenu {
    margin-top: 25px;
    display: none;
}
.nav {
    flex: 6;
    text-align: center;
}
.navIcon {
  position: relative;
  margin: 5px;
  flex: 1;
}
.navMainIcon {
    margin-top: 25px;
}
.navIconText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 28px);
    color: white;
    text-decoration: none;
}
.dropMenu div {
    position: absolute;
    transform: translate(20%, -20px);
    color: white;
    text-decoration: none;
}

#login {
    flex: 3;
    text-align: center;
    color: white;
    font-size: 20px;
    max-width: 150px;
    min-width: 120px;
    height: calc(50vh - 20px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 0;
    margin: 10px 0;
    margin-left: 15px;
}

#login #username {
    color: black;
    margin: 0px 20px;
}

.NamePlaque {
    transform: translate(0, 20px);
}

#currentUserDropdown {
    background-color: #00000000;
    position: absolute;
    transform: translate(-120px, 26px);
    border: none;
    text-align: center;
}



body {
    background-image:url(images/bg.jpeg);
    margin: 0;
}

.content {
    text-align: center;
    color: white;
    font-size: 20px;
}

.navbutt {
    color: white;
    width: 130px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 20px;
    cursor: pointer;
    background: #aa5cac;
}

.supbutt {
    color: white;
    width: 100px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    background: #9f7ed0;
    font-size: 16px;
}

.footer {
    color: white;
    background: #2da0e0;
    text-align: center;
    margin: 8;
}

.swf {
    padding: 20px 0px;
    text-align: center;
}

div.centerimg {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.centerimg img {
    padding: 0 10px;
}

.textbox-parent {
    border-radius: 25px;
    border: 2px solid #F5D267;
    background-color: #ffffff60;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    padding: 10px;
    margin: 20px auto;
  }

.textbox {
    border-radius: 25px;
    color: #000;
    width: calc(50vw - 40px);
    height: calc(50vh - 20px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    margin: 0px auto;
    font-size: 16px;
}

.textbox h2 {
    font-size: 16px;
    text-decoration-line: underline;
    color: #fff;
}

ul {
    display: inline-block;
    text-align: left;
}


.alert {
    padding: 10px;
    background-color: #e0bb4e;
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
} 

.languages {
    margin-top: 5px;
    text-align: center;
}

.languages img {
    margin: 0;
    padding: 0;
}

@media (min-width: 1190px)
{
    .home-container{
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }
    
    #about,
    #credits {
        width: 20%;
    }
    
    #about .textbox,
    #credits .textbox {
        width: 90%; 
    }
}

@media (max-width: 1191px)
{
    .home-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #about {
        order: 2;
    }
    #credits {
        order: 3;
    }

    #about,
    #credits {
        margin-left: 0;
        margin-right: 0;
        min-width: min-content;
        width: 80%;
        height: min-content;
    }
    
    #about .textbox,
    #credits .textbox {
        width: 90%; 
        height: min-content;
    }

    .home-container img {
        width: 90%;
        max-width: 644px;
        order: 1;
    }
}

@media (max-width: 1294px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 20px;
    }

    .header #logo {
        order: -1;
        display:block;
        width: 100%;
    }
    .header img {
        height: 80px
    }

    .header .navbutt {
        margin: 5px 10px;
        font-size: 18px;
        height: 40px;
    }
}

@font-face {
    font-family: ArkonaRegular;
    src: url('/phasergames/jumpinggame/fonts/Arkona Regular.ttf');
}