.bubble_title{
	font-family:Angie-BoldOSF;
	font-size:22pt;
	color:#FFFFFF;	
	leading:0pt;
	letter-spacing:0pt;
}

.bubble_menu_item{
	font-family:Angie-BoldOSF;
	font-size:12pt;
	color:#FFFFFF;	
	leading:0pt;
	letter-spacing:0pt;
}